<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Use case</title>
    </head>
    <body>
        <form action="/static" method="GET">
            <label for="displayName">Display name : </label>
            <input type="text" id="displayName" name="displayName">
            <button type="submit">Search</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Display name</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.displayName}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.email}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>